<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="facebook-domain-verification" content="kzz0kpwnmhir17k3n2ois3oms1qlhe" />
    <title>Dive & Snorkel Tulum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap" rel="stylesheet">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '600219211358476');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=600219211358476&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body class="mainDiv">
    <div class="navbar bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-2 ">
                    <img class="logoNavBar" src="/assets/images/logoBuceoAzul.png" alt="logoBlanco">
                </div>
                <div class="col-md-6 titlesNavBar">
                    <h2 class="firsTitleNavBar">Make the most of your visit!</h4>
                        <h5>Dive & Snorkel Tulum</h5>
                </div>
                <div class="col-md-2 text-center fontIconContainer">
                    <a href="https://api.whatsapp.com/send?phone=529841468507" target="_blank" rel="noopener noreferrer"
                        class="faIcon whatsLink"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/diveandsnorkeltulum/?hl=es" class="faIcon" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/diveandsnorkel" class="faIcon" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="colorBar1"></div>
    <div class="bodyPrincipal">
        {{{body}}}
    </div>
    <div class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h3 class="copyrightTitle text-center">
                        Copyright ©2021 Dive & Snorkel Tulum | <a href="/privacidad">Política de privacidad</a>
                    </h3>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </div>

    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>