<div class="inicioDiv">
    <div class="seasonBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="whiteContainer text-white superTitlesFont">
                        <h2 class="text-center titleValueSeasonBanner">
                            <span class="titleOneSeasonBanner">¿Do you fancy a mexican paradise?</span>
                            <br><br>We provide you with the most amazing experiences in
                            Tulum.
                            <br><button type="button" class="btn btn-danger btn-lg contactUsInicioBtn">Contact
                                us!</button>
                        </h2>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

    </div>
    <div class="mexicoBannerDiv">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <img src="/assets/images/mx.jpg" alt="MexicoLetrero" class="imgMx">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="card text-center universalFont didYouKnowDiv">
        <div class="card-header">
            Live an amazing experience!
        </div>
        <div class="card-body">
            <h5 class="card-title">Did you know about Tulum?</h5>
            <p class="card-text didYouKnowDivTitle">Tulum is the third most visited archaeological site in Mexico! Just after Chichén Itzá
                and Teotihuacán. We host more than 2 million people every year. Come and enjoy all the things we can
                offer for you to live amaizing experiences in a real paradise. Reach us!</p>
            <a class="btn btn-danger contactUsInicioBtn text-white">Contact us!</a>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
    <div class="servicesTulumDiv text-center superTitlesFont">
        <div class="container">
            <div class="row">
                <div class="col-md-4 serviceImg">
                    <div class="card serviceImg2" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/divingTulum.png" alt="divingTulumService">
                        <div class="card-header">
                            Diving Tours
                        </div>
                        <div class="card-body">
                            <p class="card-text">There is not an atmostphere as beautiful as the one you are into when
                                diving. If you have already done it, you know what we are talking about. If you haven’t,
                                what are you waiting for?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 serviceImg">
                    <div class="card serviceImg2" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/bicycleTours.png" alt="divingTulumService">
                        <div class="card-header">
                            Bicycle Tours
                        </div>
                        <div class="card-body">
                            <p class="card-text">We have
                                every thing to make your experience secure. Enroll in one of our bycle tours and don't
                                hesitate in bringing someone with you!, you will not regret it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 serviceImg">
                    <div class="card serviceImg2" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/snorkelinTours.png" alt="divingTulumService">
                        <div class="card-header">
                            Snorkeling Tours
                        </div>
                        <div class="card-body">
                            <p class="card-text">Feelling like getting into the water, but not really for diving? We
                                have also snorkeling tours. Pop up in our store and enroll in
                                one fo this fantastic experiences.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerPromoContact">
        <div class="blackBannerPromo container text-center text-white superTitlesFont">
            <div class="row">
                <div class="col-md-12">
                    <img class="logoBuceoBlancoPromoBanner" src="/assets/images/logoBuceoBlanco.png"
                        alt="logoBuceoBlanco">
                    <br>
                    <h1 class="titlePromoBanner">Enroll to one of our tours and <br> visit the mayan cenotes!</h1>
                    <button type="button" class="btn btn-danger btn-lg contactUsInicioBtn2">Contact
                        us!</button>
                </div>
            </div>
        </div>
    </div>
</div>