<div class="inicioDiv">
    <div class="seasonBanner">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="whiteContainer text-white superTitlesFont">
                        <h2 class="text-center titleValueSeasonBanner">
                           <span class="titleOneSeasonBanner">¿Do you fancy a mexican paradise?</span>
                            <br><br>We provide you with the most amazing experiences in
                            Tulum.
                            <br><button type="button" class="btn btn-danger btn-lg contactUsInicioBtn">Contact us!</button>
                        </h2>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

    </div>
    <div class="mexicoBannerDiv">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <img src="/assets/images/mx.jpg" alt="MexicoLetrero" class="imgMx">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>