.logoNavBar{
    height: 10rem;
    margin-left: -103%;
}
.universalFont {
    font-family: 'Noto Sans KR', sans-serif;
}
.superTitlesFont{
    font-family: 'Signika Negative', sans-serif;;
}
.navbar{
    text-align: center;
  /* background-color: #042a3e; */
  height: 11rem;
}
.firstPartSloganInicio{
    font-size: 31px;
    font-weight: bolder;
    
}
.fontIconContainer{
    font-size: 2rem;
    color: #332383 !important;
}
.whiteContainer{
    background-color: rgba(0, 0, 0, 0.65);
    padding-right: 0%;
    padding-top: 7%;
    padding-bottom: 7%;
    width: 30rem;
    margin-top: 30%;
    position: relative;
    right: 45%;
    border-radius: 8pt;
}
.colorBar1{
    background-color: #5b9bc3;
    height: 15px;
}
.titleOneSeasonBanner{
    font-size: 3rem;
    font-weight: bolder;
}
.titlesNavBar{
    width: 55rem;
    color: #332383;
    margin-left: 7%;

}
.firsTitleNavBar{
    margin-top: 7%;
}
.faIcon{
    color: #332383;
}
.faIcon:hover{
    color: #5b9bc3;
}
.seasonBanner{
    height: 30rem;
    background-image: url("/assets/images/sea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
.imgMx{
    width: 20rem;
    margin-top: 5%;
    margin-bottom: 5%;
}
.contactUsInicioBtn{
    margin-top: 1.5%;
}

/* MEDIA QUERIES */

/* Media for Ipad pro according to Google. */

@media (min-width: 1000px) and (max-width: 1024px) {

    .whiteContainer{
        margin-top: 38%;
        right: -63%;
        width: 40rem;
    }
    
}

/* Media for Ipad according to Google. */

@media (min-width: 768px) and (max-width: 1000px) {

    .seasonBanner{
        height: 26rem;
    }
    .whiteContainer{
        margin-top: 35%;
        right: -70%;
    }
    .logoNavBar{
        margin-left: -27%;
    }
    .firsTitleNavBar{
        font-size: 20pt;
    }
    .titlesNavBar{
        width: 44rem;
    }
    .fontIconContainer{
        font-size: 20pt;
    }
}

/* Media for Pixel 2, Pixel 2 XL, Iphone 6,7,8,X & plus versions according to Google. */

@media (min-width: 401px) and (max-width: 767px) {
    .whiteContainer{
        background-color: rgba(0, 0, 0, 0.719);
        padding-right: 7%;
        padding-left: 7%;
        width: 22rem;
        right: -4%;
        margin-top: 2.5rem;
    }
    .seasonBanner{
        height: 20rem;
    }
    .titleOneSeasonBanner{
        font-size: 2rem;
    }
    .titleValueSeasonBanner{
        font-size: 1rem;
    }
    .logoNavBar{
        margin-left: 0%;
    }
    .navbar{
        height: 26rem;
    }
    .titlesNavBar{
        width: 20.5rem;
    }
}

/* Media for Moto4 & Galaxy S5 According to google. */

@media (max-width: 400px) {

    .whiteContainer{
        background-color: rgba(0, 0, 0, 0.719);
        padding-right: 7%;
        padding-left: 7%;
        width: 19rem;
        right: -4%;
        margin-top: 2.5rem;
    }
    .seasonBanner{
        height: 20rem;
    }
    .titleOneSeasonBanner{
        font-size: 2rem;
    }
    .titleValueSeasonBanner{
        font-size: 1rem;
    }
    .logoNavBar{
        margin-left: 0%;
    }
    .navbar{
        height: 26rem;
    }
    .titlesNavBar{
        width: 18rem;
    }
}

/* Media for Iphone 5/5SE aren't being designed */

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}
